<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="@Url.Content("https://fonts.googleapis.com/css?family=Leckerli+One")" rel="stylesheet" type="text/css">
    <title>Dojodachi</title>
</head>
<body>
    @RenderBody()
</body>
</html>